<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Quản lý Khách sạn Admin v2.0.0</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
       
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search.">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </li>
                <li>
                    <a href="/Admin/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
                </li>
                <li>
                    <!--fa fa-bar-chart-o fa-fw:Biểu tượng biểu đồ-->
                    <a href="#"><i class="fa fa-table fa-fw"></i> Quản Lý<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/Admin/Room/Index"><i class="fa fa-hotel fa-fw"></i>Phòng</a>
                        </li>
                        <li>
                            <a href="/Admin/Customer/Index"><i class="fa fa-user fa-fw"></i>Khách Hàng</a>
                        </li>
                        <li>
                            <a href="/Admin/User/Index"><i class="fa fa-user fa-fw"></i>Người dùng</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="/Admin/Renting/Index"><i class="fa fa-bookmark-o fa-fw"></i>Lập Phiếu thuê phòng</a>
                </li>
                <li>
                    <a href="/Admin/Payment/Index"><i class="fa fa-money fa-fw"></i>Lập Hóa đơn Thanh Toán</a>
                </li>
                <li>
                    <a href="/Amin/Tham_So/Index"><i class="fa fa-gear fa-fw"></i> Thay đổi quy định</a>

                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="/Amin/BAO_CAO_DOANH_THU/Index"><i class="fa fa-bar-chart-o fa-fw"></i>Báo cáo doanh thu</a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
